.App {
    text-align: center;
}

.logo {
    font-family: "Astloch";
    position: fixed;
    z-index: -1;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html,
body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-section {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
}

.flex-col-scroll {
    flex-grow: 1;
    overflow: auto;
    min-height: 100%;
}

.flex-no-shrink {
    flex-shrink: 0;
}

.menu {
    position: fixed;
    top: 30vh;
}

.menu-position {
    display: flex;
    justify-content: center;
}

#comment-button {
    color: grey;
    cursor: pointer;
}

.userform {
    display: "flex";
    align-items: center;
}

.sidemenu {
    text-decoration: none;
    color: black;
}